{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit Table</h1>
        </div>
    </div>
    <form action="{{ url_for('edit_table.edit_element') }}" method="POST" class="form-inline">
      <div class="form-group">
        <label for="table-name-select">Select Table:  </label>
        <select class="form-control mr-2" id="table-name-select" name="table_name" style="width: 200px;">
            {% for table_name in table_names %}
            <option>{{ table_name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary" style="margin-left: 130px;">Edit</button>
      </div>
    </form>
    
</div>
{% endblock %}