{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Upload CSV File</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="{{ url_for('upload.upload_excel') }}" method="post" enctype="multipart/form-data" id="upload-form" class="form-inline">
                <div class="form-group">
                    <input type="file" name="file" class="form-control-file mr-2">
                </div>
                <button type="submit" id="upload-btn" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <div class="col-md-12">
            <h2>上传文件内容统计</h2>
            <div id="Upload-Statistics">
                
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function() {
    var tableData = JSON.parse('{{ display_json | safe }}');
    var columns = [];

    var table = new Tabulator("#Upload-Statistics", {
    data: tableData,
    columns:[
        {title:"名称映射", field:"name_mapping"},
        {title:"属性映射", field:"attribute_mapping", formatter:"textarea"},  // multi-line text
        {title:"缺失列", field:"col_missing", formatter:"textarea"},  // multi-line text
        {title:"缺失数据", field:"data_missing", formatter:"textarea"},  // multi-line text
    ],
    layout: "fitColumns",
    placeholder:"等待数据, 请上传文件",
    pagination: "local",
    paginationSize: 10,
    paginationSizeSelector: [10, 25, 50, 100]
    });    
});
</script>
{% endblock %}
