{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Upload CSV File</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="{{ url_for('upload.upload_csv') }}" method="post" enctype="multipart/form-data" id="upload-form" class="form-inline">
                <div class="form-group">
                    <input type="file" name="file" class="form-control-file mr-2">
                </div>
                <button type="submit" id="upload-btn" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
    <h2>Upload Statistics</h2>
    <p>Total object types: {{ upload_object_types_count }}</p>
    <h3>Counts by object type:</h3>
    <ul>
    {% for object_name, count in upload_object_counts.items() %}
        <li>{{ object_name }}: {{ count }}</li>
    {% endfor %}
    </ul>
    <h2>Global Statistics</h2>
    <p>Total object types: {{ global_object_types_count }}</p>
    <h3>Counts by object type:</h3>
    <ul>
    {% for object_name, count in global_object_counts.items() %}
        <li>{{ object_name }}: {{ count }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function() {
    $('#upload1-btn').click(function() {
        var formData = new FormData($('#upload-form')[0]);
        var message = {{ json_message | safe }};
        $.ajax({
            url: '/upload',
            type: 'POST',
            contentType: 'application/json',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: '操作成功',
                    text: message
                });
            },
            error: function(error) {
                Swal.fire({
                    icon: 'error',
                    title: '发生错误',
                    text: message
                });
            },
        });        
    });    
});
</script>
{% endblock %}
